extends layout

block content
    .container
        h2.pageTitle Phenoflow prototype
        .container
            h3 Rosacea example
            hr
            br
            p Rosacea possible codes : "F4C3100","M153000","M153100","M153200","M153300","M153400","M153.00","M153z00","Myu6900", "L71.1","L71.8","L71.9"
            - let patient1 = {birthDate : new Date(), codes : new String(), lastE : new Date()}
            form#frm(action='/action_page.php')
                #form-group
                    label(for='birthDate') Birthday :
                        input#birthday.dateForm(type='date' name='birthDate')
                br
                #form-group
                    label(for='lastE') Last encounter :
                        input#lastE.dateForm(type='date' name='lastE') 
                br 
                #form-group
                    label Codes : 
                        input#codes.codesInput(name='codes', type='text') 
                    p Please separate each code with a comma ","
            br
            button(onclick='myFunction()').btn.btn-outline-success(type='button') Try it !

            p#validation.PValidationText
            p#primaryText
            p#secondaryText

            script.
                function myFunction() {
                    const primaryCodes = ["F4C3100","M153000","M153100","M153200","M153300","M153400","M153.00","M153z00","Myu6900"];
                    const secondaryCodes = ["L71.1","L71.8","L71.9"];
                    const birthday = document.getElementById("birthday").value;
                    const lastE = document.getElementById("lastE").value;
                    const codes = document.getElementById("codes").value;
                    let i;
                    let primaryText = "";
                    let secondaryText = "";
                    let validationText = "";
                    let validationBoolean = false;
                    let rosaceaPrimaryBoolean = false;
                    let rosaceaSecondaryBoolean = false;

                    document.getElementById("validation").innerHTML= "";
                    document.getElementById("primaryText").innerHTML = "";
                    document.getElementById("secondaryText").innerHTML = "";
                    
                    if (birthday.length == 0) {
                        validationText += " |BIRTHDATE| ";
                        validationBoolean = true;
                    }
                    if (lastE.length == 0) {
                        validationText += "|LAST ENCOUNTER|";
                        validationBoolean = true;
                    }
                    if (codes.length == 0) {
                        validationText += " |CODES| ";
                        validationBoolean = true;
                    }

                    if (validationBoolean == true) {
                        validationText += " is/are missing !"
                        document.getElementById("validation").innerHTML = validationText;

                    }
                    if (validationBoolean == false) {
                        for (i = 0; i < primaryCodes.length ;i++) {
                            if(codes.includes(primaryCodes[i])){
                                rosaceaPrimaryBoolean = true;
                            }
                        }

                        for (i = 0; i < secondaryCodes.length ;i++) {
                            if(codes.includes(secondaryCodes[i])){
                                rosaceaSecondaryBoolean = true;
                            }
                        }
                        
                        if(rosaceaPrimaryBoolean == true){
                            primaryText += "Rosacea Primary Identified : CASE";
                        }
                        if(rosaceaPrimaryBoolean == false){
                            primaryText += "Rosacea Primary Identified : UNK";
                        }

                        if(rosaceaSecondaryBoolean == true){
                            secondaryText += "Rosacea Secondary Identified : CASE";
                        }
                        if(rosaceaSecondaryBoolean == false){
                            secondaryText += "Rosacea Secondary Identified : UNK";
                        }

                        document.getElementById("primaryText").innerHTML = primaryText;
                        document.getElementById("secondaryText").innerHTML = secondaryText;
                       
                    }
                    return codes
                }


