.navbar-light .navbar-brand {

    font-weight: bolder;
    font-size: 38px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #34BE82;
    -webkit-text-stroke-width: 1.20px; 
    margin-left: 15px;
}

.navbar-light .navbar-brand:hover {

    font-weight: bolder;
    font-size: 38px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #34BE82;
    -webkit-text-stroke-width: 1.2px; 
    margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: white;
    margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: rgba(245, 245, 245, 0.918);
    margin-left: 15px;
}

.navbar {
    background-color: #34BE82;
}

.pageTitle {
    text-align: center;
    padding-top: 10px;
    margin: 25px;
    color: #34BE82;
}

.bodyLayout { 
    background-color: whitesmoke;
    padding-top: 100px;
}

.footer {
    text-align: center;
}

.dateForm {
    margin: 2px;
    margin-left: 10px
}

.codesInput {
    margin: 2px;
    margin-left: 10px
}

.form-control{
    margin : 10px
}

.contactUsBtnContainer{
    align-items: center;
    text-align: center;
}

.contactUsButton{
    min-width: 200px;
    margin: 15px
}

.contactUsConfirmationMsg{
    color : #34BE82
}

.prototypeSubmissionContainer{
    align-items: center;
    text-align: center;
}

.prototypeSubmissionButton{
    min-width: 200px;
    margin: 15px
}


