.navbar-light .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 38px;
    -webkit-text-fill-color: rgb(31, 179, 51);
    -webkit-text-stroke-color: rgba(22, 58, 13, 0.397);
    -webkit-text-stroke-width: 1.20px; 
    margin-left: 15px;
}

.navbar-light .navbar-brand:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 38px;
    -webkit-text-fill-color: rgba(31, 179, 51, 0.616);
    -webkit-text-stroke-color: rgba(31, 179, 51, 0.616);
    -webkit-text-stroke-width: 0px; 
    margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: whitesmoke;
    margin: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: grey;
    margin: 15px;
}



.navbar {
    background-color: #231F20;
}